li {
     padding: 20px;
    margin: 20px; 
    background:rgb(252, 191, 73);
    position: relative;
  }
   .content-burger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(214, 40, 40);
    /* padding: 10px;
    height: 90px;
    border-radius: 4px;
    margin-top:20px; */

  }
  .buttom {
    justify-content: center;
  }
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  /* .form-group {
    margin-bottom: 100px;
    color:blue
  } */
  
  body {
    background-image: url("../img/fire_burger.jpg");
    background-size:cover ;
    
    
  }

  h1 {
    font-style: italic;
    font-size: 40px;
    text-align:  center;
    }

  